html {
  position: relative;
}

body {
  margin-bottom: 120px;
}

.jumbotron {
  background-image: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: auto;
  background-size: cover;
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.jumbotron img {
  width: 200px;
  border: 5px solid #666;
}
.text-center {
  font-family: "Pacifico", cursive;
  padding-bottom: 6rem;
}

hr {
  width: 250px;
  border-top: 3px solid #999;
}

section {
  min-height: 600px;
}

.portfolio {
  background-color: #eee;
}

.contact {
  min-height: 800px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #333;
  padding-top: 30px;
}

footer p {
  color: #aaa;
  font-size: 0.9em;
}

footer p i {
  color: salmon;
}
